.search {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.results {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.result {
    background-color: aliceblue;
    padding: 10px;
    margin: 5px;
    width: 80%;
    border-radius: 5px;
}

.search-button {
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
}

.search input {
    padding: 5px;
    font-size: 16px;
    width: 300px;
    margin: 5px;
}