nav {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 20px;
    width: 100%;
}
nav a {
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

nav a:hover {
    text-decoration: underline;
}